body{
    margin: 0;
    background-color: black;
}


/* for all buttons hover */
button:hover{
    cursor: pointer;
    transform: translateY(3%);
}

/* all Hr tags*/
hr{
    width: 80px;
    border: solid orange 2px;
}

/* header section */
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
header{
    padding-top: 50px;
    background-color: #80808060;
    position: sticky;
    top: 0px;
    z-index: 1000;
}
.headerflex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.headerflex img{
    height: 30px;
    width: 150px;
}
.navbar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0;

}
.navbar ul a{
    text-decoration: none;
    color: white;
}
.navbar ul li{
    align-items: center;
    color: white;
}
.headerflex button{
    background-color: orange;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    border-color: orange;
}
.headerflex button a{
    text-decoration: none;
    color: white;
}

/* Hero Section*/
.backgroundhero{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(./assets/herosec.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 680px;

}
.hero{
    /*
    border: solid white 1px; */
    color: white;
    text-align: center;
    padding: 50px;
    margin-top: 80px;
    margin-bottom: 250px;
}
.hero h1{
    font-size: 80px;
    margin: 0;
}
.hero p{
    color: orange;
}
.hero button{
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    border-color: orange;
    margin: 15px;
}
.hero button:hover{
    background-color: #ffa50030;
}
.hero button a{
    text-decoration: none;
    color: white;
}

/* About and our team Section*/
.about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    color: white;
}

.about img{
    border-radius: 30px;
    width: 600px;
    height: auto;
}
.about hr{
    margin: 0;
}
.about button{
    border-radius: 20px;
    border: solid orange 1px;
    padding: 20px;
    background-color: orange;
    color: white;
}
.about h1{
    font-size: 40px;
}

/* Coffee Menu Section*/
.coffeemenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    color: white;
}
.coffeemenu img{
    border-radius: 30px;
    width: 600px;
    height: auto;
}
.coffeemenu hr{
    margin: 0;
}
.coffeemenu button{
    border-radius: 20px;
    border: solid orange 1px;
    padding: 20px;
    background-color: orange;
    color: white;
}
.coffeemenu h1{
    font-size: 40px;
}

/* Feature Section*/
.feature{
    color: white;
    margin-top: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}
.feature h1{
    font-size: 40px;
}
.featureflex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}

/* Working Hours Section*/
.workingbgimg{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(./assets/workingbg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}
.workingflex{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 100px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.workingflex hr{
    margin: 0;
}
.workingtext h1{
    font-size: 60px;
}
.workingtext button{
    border-radius: 20px;
    border: solid orange 1px;
    padding: 20px;
    background-color: transparent;
    color: white;
    margin: 10px;
}
.workingtext button:hover{
    background-color: #ffa50030;
}
.workingtext button a{
    text-decoration: none;
    color: white;
}
.time h1{
    margin-top: 0;
}
.time{
    background-color: black;
    padding: 50px;
    border-radius: 20px;
}

/* Card section */

.exploretext{
    color: white;
    margin-top: 150px;
    text-align: center;
}
.exploretext h1{
    font-size: 40px;
}
.exploretext span{
    font-size: 20px;
}

.card img{
    width: 300px;
    height: auto;
}
.card{
    background-color: white;
    position: relative;
    margin: 10px;
    padding: 0;
    padding-bottom: 20px;
    border-radius: 10px;
    text-align: center;
}
.card .dis,.fev{
    position: absolute;
}
.card .dis{
    top: 15px;
    right: 15px;
    background-color: red;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    color: white;
}
.card .fev{
    color: black;
    top: 15px;
    left: 15px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;

}
.card .fev,.dis:hover{
    cursor: pointer;
}
.card .fev:hover{
    color: red;
}
.cardflex{
    margin: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card button{
    text-align: left;
    border-radius: 20px;
    border: solid orange 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 85px;
    padding-right: 85px;
    background-color: transparent;
    color: white;
    margin: 5px;
}
.card button a{
    text-decoration: none;
    color: black;
}
.card button:hover{
    background-color: #ffa50030;
}
.rate{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.rate p{
    margin-right: 10px;
}
.rate span:hover{
    color: gold;
    cursor: pointer;
}













/* for mobile */
@media (max-width: 1024px){

.headerflex{
    flex-direction: column;
    gap: 30px;
}
.headerflex img,button{
    align-items: center;
}
header{
    position: static;
}
.hero h1{
    font-size: 40px;
}
.about{
    flex-direction: column-reverse;
    align-items:center;
    text-align:center;
}
.about hr{
    width: 80px;
    margin: 0 auto;
}
.about img{
    margin-bottom: 40px;
    width: 400px;
}
.coffeemenu{
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.coffeemenu hr{
    width: 80px;
    margin: 0 auto;
}
.coffeemenu img{
    margin-bottom: 40px;
    width: 400px;
}
.feature{
    flex-direction: column;
}
.featureflex{
    flex-direction: column;
}
.workingflex{
    flex-direction: column;
}
.workingflex h1{
    font-size: 25px;
}
.workingtext{
    margin-bottom: 50px;
}
.workingbgimg{
    height: 600px;
    align-items: center;
}
.cardflex{
    flex-direction: column;
    margin: 0;
    align-items: center;
}
.card{
    width: 300px;
}
}